{% extends "main.html" %}
{% block content %}
{% include "headerout.html" %}


<section class="main">
    <h1>{{cerveja.name}}</h1>

    <div>
        <a href="{{url_for('newBeer',estilo_id=estilo.id)}}">
            <button type="button">Adicionar cerveja.</button>
        </a>
        <a href="{{url_for('editBeer',estilo_id=estilo.id,cerveja_id=cerveja.id)}}">
            <button type="button">Editar cerveja.</button>
        </a>
        <a href="{{url_for('deleteBeer',estilo_id=estilo.id,cerveja_id=cerveja.id)}}">
            <button type="button">Deletar cerveja.</button>
        </a>
    </div>
    
    <p><strong>Nome: </strong> {{cerveja.name}}</p>
    <p><strong>Família: </strong> {{cerveja.familia}}</p>
    <p><strong>Tipo: </strong>{{cerveja.tipo}}</p>
    <p><strong>Temperatura: </strong>{{cerveja.temperatura}}</p>
    <p><strong>Cor: </strong> {{cerveja.cor}}</p>
    <p><strong>Descrição: </strong></p>
    <p>{{cerveja.descricao}}</p>
        
</section>
{% endblock %}